.scoreContainer {
    position: relative;
    text-align: center;
    margin-top: 1px;    
}

$transparentRight: calc(50% - var(--label-width) / 2);
$transparentLeft: calc(50% + var(--label-width) / 2);
$blackRight: calc($transparentRight - 5px);
$blackLeft: calc($transparentLeft + 5px);


.mask {
    mask-image: 
        linear-gradient(to right, black $blackRight, transparent $transparentRight, transparent $transparentLeft, black $blackLeft), 
        linear-gradient(to top, black 80%, transparent calc(100% - 2px));
    
}

.scoreContainer label {
    position: absolute;
    width: fit-content;
    inset: 0;
    margin: 0 auto;
    top: -3px;
    font-size: 8px;
    line-height: 8px;
    height: 8px;
    z-index: 2;
}

/* Убираем стрелки у всех number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

.scoreContainer input[type=number] {
    @include baseContainer;
    //@include baseFont;
    font-size: 14px;

    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
    outline: none;

    padding: 4px 8px;
    width: 50px;
}
