:root {
  /* display: flex;
  place-items: center; */

  font-family: 'Avenir-Medium';
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  width: 100vw;
  height: 100vh;
}

input[type=checkbox] {
    cursor: pointer;
}

input[type=checkbox]:disabled {
    cursor: not-allowed;
}

/* Убираем стрелки у всех number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;

    padding: 4px 8px;
    width: 50px;
}



/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
