$facultyRowWidth: 666px;

@mixin baseContainer {
    box-sizing: border-box;
    padding: 1px;
    text-align: center;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 8px;
    background-color: black;
}

@mixin baseFlexContainer {
    display: flex;
    gap: 16px;
}

@mixin baseColumn {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //flex-wrap: wrap;
    //align-items: center;
    place-items: center;
}

@mixin columnFlex {
    display: flex;
    flex-direction: column;
    //align-items: center;
    gap: 8px;}

