.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 64px 0;
  box-sizing: border-box;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/video-background.png);
  overflow: hidden;
}

h1 {
    font-family: 'Avenir-Bold';
    font-size: $huge;
    color: white;
    text-shadow: 
        0 0 40px rgb(79, 9, 136),        
        0 0 40px rgb(79, 9, 136),
        0 0 40px rgb(79, 9, 136);
}

.right {
    @include baseColumn;
    width: 50%;
    gap: 50px;
}

.largeSide {
    @include baseColumn;
    width: 55%;
    gap: 50px;
}

.thinSide {
    @include baseColumn;
    width: 45%;
    height: 100%;
    //gap: 83px;
    justify-content: space-between;
}

.FacultyList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 820px;
}

.winnersList, .FacultyPointList {
    @include baseColumn;
    flex-wrap: wrap;
    gap: 16px;

    max-height: 60vh; //50vh
  
}

// .FacultyPointList {
//     display: grid;
//     column-count: 2;
//     //grid-template-rows: repeat(7, 1fr);
//     gap: 16px;
//     //grid-auto-flow: column;
//     //max-height: 60vh; //50vh
// }

.pointsLine {
    //font-size: 60px;
    font-size: 2em;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    //gap: 16px;
}

.point {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    // width: 80px;
    // height: 80px;
    width: 2em;
    height: 2em;
    //padding: 0 4px;
    border-radius: 16px;
    z-index: 10;

    //transition: opacity 1s;
}

.point::before {
    content: '';
    position: absolute;
    //padding: 0 4px;
    border-radius: 16px;
    //background-color: rgb(73, 4, 221);
    background: linear-gradient(135deg, rgb(116, 26, 211) 0%, rgb(31, 9, 173) 100%);
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    animation: judgePointAnimationReverse 1s forwards;
}

.point.highScore::before {
    //background-color: rgb(253, 40, 210);
    background: linear-gradient(135deg, rgb(216, 13, 159) 0%, rgb(239, 175, 244) 100%);
}



.point.awarded::before {
    animation: judgePointAnimation 2s both;
}

@keyframes judgePointAnimation {
    from {
        height: 100%;
    }
    to {
        height: 20%;
    }
}

@keyframes judgePointAnimationReverse {
    from {
        height: 20%;
    }
    to {
        height: 100%;
    }
}

.video {
    background-color: pink;

    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 20px;
    font-size: 60px;
}

// .video {
//     mask-image: 
//         linear-gradient(black, black),  // весь слой
//         // форма вашего .video блока
//         radial-gradient(black, black);  // вырез
    
//     mask-size: 
//         100% 100%,
//         // размер вашего блока
//         800px calc(800px * 9 / 16);
    
//     // mask-position: 
//     //     0 0,
//     //     center center; // позиция выреза
    
//     mask-repeat: no-repeat;
//     mask-composite: exclude; // 👈 вырезаем второй слой из первого
// }


.logo {
    background-image: url(/assets/Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 80%;
    aspect-ratio: 16 / 9;
    margin: auto 0;
    //background-color: pink;
}

.addedPointsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 200px;
    height: 130px;
    
    font-size: $huge;
    font-family: 'Avenir-Bold';
    color: white;

    background-color: rgb(158, 18, 201);
    border-radius: 30px;
}

.addedPointsContainer .addedPoints {
    opacity: 0;
}

.animatedPoints {
    animation: animationPoints 5s both;
}

// 5 s: 0.5s -- appear, 4s -- show, 0.5s -- disappear
@keyframes animationPoints {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    10% {
        transform: scale(1);
        opacity: 1;
    }
    90% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
