.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/background.png);
  overflow: hidden;
}

h1 {
    font-family: 'Avenir-Bold';
    font-size: $huge;
    color: white;
    text-shadow: 
        0 0 40px rgb(79, 9, 136),        
        0 0 40px rgb(79, 9, 136),
        0 0 40px rgb(79, 9, 136);
}

.right {
    @include baseColumn;
    max-width: 60%;
    gap: 50px;
}

.FacultyList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 820px;
}

.winnersList, .FacultyPointList {
    @include baseColumn;
    flex-wrap: wrap;
    gap: 16px;
  
}

.FacultyPointList {
    max-height: 620px;
}

.pointsLine {
    font-size: 60px;
    color: white;
    display: flex;
    gap: 16px;
}

.point {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 80px;
    height: 80px;
    padding: 0 4px;
    border-radius: 16px;

    transition: opacity 1s;
}

.highScore {
    background-color: orange;
}

.awarded {
    opacity: 0.5;
}

.video {
    background-color: pink;

    width: 100%;
    aspect-ratio: 4 / 3;
    border-radius: 20px;
    margin: auto;
}

.logo {
    background-image: url(/assets/Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 45vw;
    aspect-ratio: 16 / 9;
    margin: auto;
}

.addedPoints {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 200px;
    height: 130px;
    
    font-size: $huge;
    font-family: 'Avenir-Bold';
    color: white;

    background-color: rgb(158, 18, 201);
    border-radius: 30px;
}

.animatedPoints {
    animation: animationPoints 0.5s linear;
}

@keyframes animationPoints {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}



// .FacultyPointList {
//   display: grid;
//   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
//   grid-gap: 10px;
//   grid-auto-flow: column;
// }

// .FacultyList {
//     display: grid;
//     grid-template-columns: auto auto auto;
//     gap: 8px;
// }





