

.settingsPage {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 16px 0;

    @include columnFlex;
    align-items: center;
    justify-content: space-between;
    
    font-size: $small;
    color: rgb(122, 122, 122);

    background-color: $dark-gray;
}

.mainContent {
    @include columnFlex;
    box-sizing: border-box;
    //width: $facultyRowWidth;
    width: 642px;
    height: 100%;
    overflow-y: auto;
}

.facContainer {
    @include baseContainer;
    width: 200px;
}

.header {
    @include baseFlexContainer;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid white;
    //width: $facultyRowWidth;
    width: 642px;
}

.queueHeader {
    border: none;
}

.contentHeader {
    display: grid;
    grid-template-columns: 60px 200px 60px 90px 60px 108px;
    width: 642px;
    gap: 8px;
    align-items: center;
    text-align: center;
}

.footer {
    @include baseFlexContainer;
    justify-content: space-between;
    padding-top: 16px;
    border-top: 1px solid white;
    //width: $facultyRowWidth;
    width: 642px;
}

.hideCheckbox {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}

.hideCheckbox input[type=checkbox] {
    margin: 0;
    accent-color: $blue;
    cursor: pointer;
}

.flexContainer {
    @include baseFlexContainer;
}

/* Для Sortable */
.sortable-chosen, .sortable-ghost {
    cursor: grabbing !important;
    cursor: -webkit-grabbing !important;
}

.error {
    background-color: $dark-pink;
}

.ok {
    background-color: $light-green;
}

.serverMessage {
    position: absolute;
    bottom: 16px;
    right: 16px;

    height: 64px;
    width: 64px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: $normal;
    font-family: 'Avenir-Demi';
    color: white;

    animation: animationTost 3s linear both;
}

@keyframes animationTost {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-50vh);
        opacity: 1;
    }
    100% {
        transform: translateY(-90vh);
        opacity: 0;
    }
}
