

.settingsPage {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 16px 0;

    @include columnFlex;
    align-items: center;
    justify-content: space-between;
    
    font-size: $small;
    color: rgb(122, 122, 122);

    background-color: $dark-gray;

    
}

.mainContent {
    @include columnFlex;
    box-sizing: border-box;
    //width: $facultyRowWidth;
    width: 642px;
    height: 100%;
    
    overflow-y: auto;
}

.facContainer {
    @include baseContainer;
    width: 200px;
}

.header {
    @include baseFlexContainer;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid white;
    //width: $facultyRowWidth;
    width: 642px;
}

.queueHeader {
    border: none;
}

.contentHeader {
    display: grid;
    grid-template-columns: 60px 200px 60px 90px 60px 108px;
    width: 642px;
    gap: 8px;
    align-items: center;
    text-align: center;
}

.footer {
    @include baseFlexContainer;
    justify-content: space-between;
    padding-top: 16px;
    border-top: 1px solid white;
    //width: $facultyRowWidth;
    width: 642px;
}

.hideCheckbox {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}

.hideCheckbox input[type=checkbox] {
    margin: 0;
    accent-color: $blue;
    cursor: pointer;
}

.flexContainer {
    @include baseFlexContainer;
}

/* Для Sortable */
.sortable-chosen, .sortable-ghost {
    cursor: grabbing !important;
    cursor: -webkit-grabbing !important;
}

.error {
    background-color: $dark-pink;
}

.ok {
    background-color: $light-green;
}

.serverMessage {
    position: absolute;
    bottom: 16px;
    right: 16px;

    height: 64px;
    width: 64px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: $normal;
    font-family: 'Avenir-Demi';
    color: white;

    animation: animationTost 3s linear both;
}

@keyframes animationTost {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-50vh);
        opacity: 1;
    }
    100% {
        transform: translateY(-90vh);
        opacity: 0;
    }
}



table {
    @include columnFlex;
    box-sizing: border-box;
    width: 642px;
    height: 100%;
    margin-right: -20px;
    padding-right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 0;
    
}

thead {
    background-color: $blue;
    color: white
}

tbody.mainContent {
  border-collapse: collapse;
  gap: 0;
  background: white;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
  line-height: 1;
  flex: 1;
}

td {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

tr {
    display: flex;
}

tbody tr:hover,
th.activeColumn,
td.activeColumn  {
    background-color: rgba($color: $light-pink, $alpha: 0.3);
}

.rotatedHeader {
    height: 120px;
    padding: 4px;

    writing-mode: sideways-lr;
    line-height: 1;
    display: flex;
}

.headerText {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
}

td input[type=number] {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    color: $light-gray;
    font-family: 'Avenir-Bold';
    text-align: center;
    vertical-align: middle;
    outline: none;
}

td input:disabled {
    background-color: $light-gray;
    color: transparent;
    opacity: 0.2;
    cursor: not-allowed;
}

th.firstColumn, td.firstColumn {
    flex: 0 0 auto;
    width: 120px;
    padding: 2px;
    vertical-align: baseline;
    min-height: 25px;
}

tr.total {
    background-color: $light-pink;
    color: white;
}

.total input {
    color: white !important;
}

.total input::placeholder {
    color: white;
}

