

.row {
    display: grid;
    grid-template-columns: 60px 200px 60px 90px 60px;
    gap: 16px;
}


.row:hover {
    background-color: rgba($color: white, $alpha: 0.1)
}

.nameContainer {
    @include baseContainer;
    width: 200px;
    padding: 4px 0;
    cursor: grab;
}


.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.noDisplay {
    display: none;
}

.row input[type=checkbox] {
    width: 60px;
    margin: 0;
    accent-color: $light-green;
}

.row .radioButton {
    width: 60px;
    transform: scale(1.5);
}
