.faculty {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 50px;
    //max-height: 80px;
    border-radius: 16px;
    width: fit-content;

    font-size: $normal;
    line-height: 1;    
    color: rgb(79, 9, 136);
    
    transition: .5s linear all;    
    background: rgba(242, 219, 255, 0.8);    
    flex-shrink: 0;
    transition: margin 1s;
}

.lowOpacity {
    opacity: 0.5;
}

.facultyName {
    width: 160px;
}


.winnersList .faculty,
.FacultyPointList .faculty {
    //height: 66px;
    //height: 80px;
    height: 2.5em;
    //width: 340px;
    //width: 200px;

    font-family: 'Avenir-Demi';
    //font-size: $medium;
    //font-size: 32px;
    //font-size: 1.5em;
    font-size: 24px;
    color: rgb(79, 9, 136);
    background: rgb(242, 219, 255);
}

.FacultyPointList .faculty {
    background: rgba(255, 255, 255, 0.8);
}

.FacultyPointList .allPoints {
    background: rgb(227, 194, 247);
}

.released {
    background: rgba(227, 194, 247, 1);
    margin-left: auto;
}

.points {
    display: grid;
    grid-template-columns: 1.25em 2em;
    gap: 8px;
    margin-left: auto;
    margin-right: 8px;

    text-align: end;
    font-family: 'Avenir-Medium';
    font-size: 1.75em;

    opacity: 1;
}

.disappear {
    animation: disappear 1s forwards;
}

img {
    height: 100%;
}

.gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: gradientAnimatian forwards 2s;
}

@keyframes gradientAnimatian {
    0% {
        width: 0;
        opacity: 1;
    }
    50% {
        width: 100%;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}