.rowName {
    flex: 1;
}

td input.ten {
    color: rgb(255, 145, 0);
}

td input.eight {
    color: orangered;
}

td input.six {
    color: blue;
}

td input.five {
    color: purple;
}

td input.four {
    color: violet;
}

td input.three {
    color: rgb(255, 179, 0);
}

td input.two {
    color: yellowgreen;
}

td input.one {
    color: skyblue;
}
